@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

:root {
  --white-color: rgb(240, 235, 235);
  --black-color: rgb(10, 10, 10);
}

h2 {
  font-size: 3rem;
  letter-spacing: 1px;
  font-weight: 500;
}

h3 {
  font-size: 1.8rem;
  font-weight: 400;
}

p {
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.search-container {
  margin: 2rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

input {
  padding: 0.5rem 2rem;
  margin: 0rem 1rem;
  border-radius: 20px;
  border: 1px solid var(--black-color);
}

button {
  padding: 0.5rem 2rem;
  border-radius: 20px;
  border: none;
  transition: background 0.3s ease;
}

button:hover {
  background-color: rgba(97, 98, 104, 0.2);
  cursor: pointer;
}

.container {
  max-width: 80rem;
  height: 65vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4rem;
  color: var(--white-color);
  background: rgba(97, 98, 104, 0.342);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(97, 89, 89, 0.171);
}

.degree {
  font-size: 3rem;
}

.col-1,
.col-2 {
  flex: 1;
}

.col-1 {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.col-2 h3 {
  font-weight: 300;
}

.col-3 {
  min-height: 60vh;
}

.current-temp {
  font-size: 8rem;
  font-weight: 300;
}

.forecast-card {
  margin: 1rem 0;
  padding: 1rem;
  background: rgba(92, 90, 90, 0.404);
  border-radius: 16px;
  transition: background 0.3s ease;
}

.forecast-card:hover,
.prev-searched:hover {
  background: rgba(92, 90, 90, 0.534);
}

#search-cont {
  margin: 2rem;
}

.prev-searched {
  position: relative;
  width: 200px;
  background: rgba(97, 98, 104, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin: 0.8rem;
  overflow: hidden;
  z-index: 0;
}

.prev-searched::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.253);
  z-index: -1;
}

@media (max-width: 760px) {
  .search-container {
    flex-direction: column;
    align-items: center;
  }

  button {
    margin-top: 1rem;
    width: 10rem;
  }

  .container {
    flex-direction: column;
    border-radius: 0;
    align-items: center;
    padding: 2rem;
    height: auto;
  }

  .col-1 {
    min-height: 40vh;
  }

  .forecast-card {
    width: 100%;
    width: 18rem;
  }
}
